<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- <link rel="stylesheet" href="styles/style.css" type="text/css"> -->
  <link rel="stylesheet" href="styles/main.css" type="text/css">
  <link rel="stylesheet" href="styles/login.css" type="text/css">
</head>

<body>

  <header>
    <div class="menu-icon">
      <svg viewbox="0 0 60 60" width="40px" height="40px">
        <line x1="5%" y1="50%" x2="95%" y2="50%" />
        <line x1="5%" y1="50%" x2="95%" y2="50%" />
      </svg>
    </div>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/survey">SURVEY</a></li>
        <li><a href="#">ADMIN</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/adminLogin" method="POST">
      <fieldset>
        <legend>ADMIN LOGIN</legend>
        <div class="login">
          <div>
            <label for="username">Username:</label>
            <input placeholder="Username" name="username" id="username">
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password"placeholder="Password" name="password" id="password">
          </div>
          <button type="submit" class="button" id="login" name="login">LOGIN</button>
        </div>
      </fieldset>
    </form>
  </main>

  <footer>
    <p>&copy; Section 3-3 | All rights reserved</p>
  </footer>
  <script>
    // JavaScript to handle header collapse on scroll
    const header = document.querySelector('header');
    let isHovered = false;

    header.addEventListener('mouseenter', () => {
      isHovered = true;
    });

    header.addEventListener('mouseleave', () => {
      isHovered = false;
    });

    window.addEventListener('scroll', () => {
      if (!isHovered) {
        const scrollY = window.scrollY;
        const maxPadding = 20; // Adjust as needed

        // Collapse the header on scroll
        header.style.padding = Math.max(maxPadding - scrollY, 5) + 'px';
      }
    });
  </script>
</body>

</html>