<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="styles/main.css" type="text/css">
  <link rel="stylesheet" href="styles/admin.css" type="text/css">

</head>

<body>

  <body>
    <header>
      <div class="menu-icon">
        <svg viewbox="0 0 60 60" width="40px" height="40px">
          <line x1="5%" y1="50%" x2="95%" y2="50%" />
          <line x1="5%" y1="50%" x2="95%" y2="50%" />
        </svg>
      </div>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/survey">SURVEY</a></li>
          <li><a href="/adminLogin">ADMIN</a></li>
        </ul>
      </nav>
    </header>
    <h1>Dashboard</h1>
    <div class="centersvg">
      <svg xmlns="http://www.w3.org/2000/svg" height="10" width="10"
        viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
        <path fill="#5e8684"
          d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z" />
      </svg>
    </div>
    <main>
      <h4 style="color: #3e2a35;">Welcome to our dashboard exploring the social media health and usage from Plainsville,
        Whoknowswhere and Provo,
        Utah. Use the different filters to explain how social media affects different groups. We hope you are able to
        learn more about trends is social media usage and health.</h4>
    </main>
    <div class=".centersvg">
      <div></div>
      <div class='tableauPlaceholder' id='viz1702051474572' style='position: relative; inset-inline-start: 17vw;'>
        <noscript><a href='#'><img alt='Dashboard 1 '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;IntexGroup3-3&#47;Dashboard1&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='IntexGroup3-3&#47;Dashboard1' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;IntexGroup3-3&#47;Dashboard1&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>
      </div>
      <div></div>
    </div>
    <script
      type='text/javascript'>                    var divElement = document.getElementById('viz1702051474572'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1377px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


    <footer>
      <p>&copy; Section 3-3 | All rights reserved</p>
    </footer>
    <script>
      document.querySelector(".menu-icon").addEventListener("click", function () {
        this.parentElement.classList.toggle("close");
      });
    </script>
    <script>
      // JavaScript to handle header collapse on scroll
      const header = document.querySelector('header');
      let isHovered = false;

      header.addEventListener('mouseenter', () => {
        isHovered = true;
      });

      header.addEventListener('mouseleave', () => {
        isHovered = false;
      });

      window.addEventListener('scroll', () => {
        if (!isHovered) {
          const scrollY = window.scrollY;
          const maxPadding = 20; // Adjust as needed

          // Collapse the header on scroll
          header.style.padding = Math.max(maxPadding - scrollY, 5) + 'px';
        }
      });
    </script>
  </body>

</html>