<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Data</title>
  <link rel="stylesheet" href="styles/style.css" type="text/css">
</head>

<body>
 
  <header>
    <a href="/">Home</a>
    <a href="/survey">Take the Survey</a>
    <a href="/adminLogin">Admin Login</a>
    <a href="/viewadmins">Admin Info</a>

  </header>

  <main>
    <h1>Edit User</h1>


    <br>
    <tbody>

                <form action="/editadmin" method="POST">

                    <tr>
                                
                        <td><span id="username" name="username"><%= adminresult[0].username %></span></td>
                        <td><%= adminresult[0].password %></td>
                        <br><br>

                    
                    <!-- <td>

                    <label for="username">Old Username</label>
                    <input type="text" id="username" name="username">
                    </td> -->
                    <td>
                    <label for="newusername">New Username</label>
                    <input type="text" id="newusername" name="newusername">
                    </td>
                    <td>
                    <label for="newpassword">New Password</label>
                    <input type="text" id="newpassword" name="newpassword"> 
                    </td>
                    <button type="submit">Update</button>
                </form>
              </td>
            </tr>
            <br>
    </tbody>

  </main>

  <footer>
    <p>&copy; Section 3-3 | All rights reserved</p>
  </footer>
  <script>










    // JavaScript to handle header collapse on scroll
    const header = document.querySelector('header');
    let isHovered = false;

    header.addEventListener('mouseenter', () => {
      isHovered = true;
    });

    header.addEventListener('mouseleave', () => {
      isHovered = false;
    });

    window.addEventListener('scroll', () => {
      if (!isHovered) {
        const scrollY = window.scrollY;
        const maxPadding = 20; // Adjust as needed

        // Collapse the header on scroll
        header.style.padding = Math.max(maxPadding - scrollY, 5) + 'px';
      }
    });
  </script>
</body>

</html>