datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}
/* style.css */

body {
  /* font-family: "Arial", sans-serif; */
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  transition: padding 0.3s; /* Add transition for smooth effect */
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
}

main {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}


/* Add these styles to your CSS file */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Adjust as needed */
}

th, td {
  border: 1px solid #ddd; /* Border color */
  padding: 8px; /* Adjust padding as needed */
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Header background color */
}

/* Optional: Style for hover effect on rows */
tr:hover {
  background-color: #f5f5f5; /* Adjust as needed */
}

/* footer {
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

/* Cards */
/* .sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.cards {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.card p {
  font-family: Playfair Display;
}

.card {
  flex: 1 1 0;
  padding: 0.6rem;
  max-width: 1000px;
  transition: background-color 300ms ease, font-weight 300ms ease;
  text-decoration: none;
  color: var(--misty-violet);
  font-size: 1.5rem;
}

.card:hover {
  background-color: rgb(0 0 0 / 10%);
  font-weight: bold;
} */
